@font-face {
    font-family: hel;
    src: url(./HelveticaNeueLight.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: hel;
}

html,
body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #fff;
}

.nev{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 15px;
    background-color: #f3f2f2;
    color: #000;
}
.nev h4{
    font-weight: 200;
    font-size: 15px;
}

.center{
    margin-top: 5px;
    padding-top: 40px;
    text-align: center;
    width: 100%;
    height: 600px;
    background-color: #F5F5F7;
}

.center h1{
    font-size: 60px;
    font-weight: 700;
}

.center h5{
    font-size: 28px;
    font-weight: 600;
}

.btn{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button{
    font-size: 17px;
    font-weight: 500;
    padding: 12px 20px;
    border: none;
    background-color: #0077ED;
    color: #fff;
    border-radius: 30px;
}

#btn-2{
    background-color: #fff;
    color: #0077ED;
    border: 1px solid #0077ED;
}

#btn-2:hover{
    background-color: #0077ED;
    color: #fff;
    border: none;
}
.img{
    margin-top: 10px;
    width: 100%;
    height: 65%;
    background-image: url(./img_hero.jpg);
    background-size: 145%;
    background-position: center;
}