* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

h1{
    font-size: 70px;
}

#box{
    width: 200px;
    height: 100px;
    background-color: crimson;
}

#inner{
    width: 50%;
    height: 50%;
    background-color: aqua;
}

h1{
    font-size: 10vw;
}

#box{
    /* width: 30vh;
    height: 30vh; */
    width: 30vmax;
    height: 30vmax;
    background-color: crimson;
}

h1{
    font-size: 10vmin;
}

#parent{
    background-color: darkslategray;
    width: 50%;
    margin: 20px;
    padding: 20px;

    /* font-size: 20px; */
}

h2{
    /* font-size: 50px; */
    /* font-size: 3em; */
    font-size: 3rem;
}
h4{
    /* font-size: 30px; */
    /* font-size: 2em; */
    font-size: 2rem;
}
h6{
    /* font-size: 20px; */
    /* font-size: 1em; */
    font-size: 1rem;
}
p{
    /* font-size: 15px; */
    /* font-size: 0.5em; */
    font-size: 0.5rem;
}