* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 0.8fr;
    grid-template-areas: "mas mas peo peo peo"
                         "mas mas mou leaf hors";
}

.d1 {
        grid-area: mas;
        background-image: url(./masroom.jpg);
        background-position: center;
        background-size: cover;
}

.d2 {
        grid-area: peo;
        background-image: url(./people.jfif);
        background-position: center;
        background-size: cover;
}

.d3 {
        grid-area: mou;
        background-image: url(./mountain.jpg);
        background-position: center;
        background-size: cover;
}

.d4 {
        grid-area: leaf;
        background-image: url(./leaf.jfif);
        background-position: center;
        background-size: cover;
}

.d5 {
        grid-area: hors;
        background-image: url(./horce.jfif);
        background-position: center;
        background-size: cover;
}