*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

header{
    width: 100%;
    background-color:rgb(39, 39, 58);
    padding: 85px 0px;
    color: white;
    text-align: center;
}
header p{
    font-style: italic;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 20px;
    padding: 20px 0px;
    background-color: whitesmoke;
}
main>div{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    background-color: blueviolet;
}

main>div h3,p{
    padding: 10px;
}

.about{
    background-color: white;
}

.education{
    background-color: rgb(211, 249, 249);
}

.skills{
    background-color: rgb(253, 231, 196);
}

.skills div{
    font-weight: 700;
}

.projects{
    background-color: rgb(240, 225, 254);
}

.projects div{
    font-style: italic;
}

.contact{
    background-color: rgb(197, 253, 234);
}

main>div div{
    text-align: center;
    margin: 5px;
    padding: 15px;
    background-color: white;
    width: 70%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(39, 39, 58);
    color: white;
}
footer pre{
    padding: 15px;
}