*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

/* #car1{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 300px;
    background-color: red;
} */

/* #car2{
    position: absolute;
    height: 220px;
    width: 330px;
    background-color: green;
}

#car3{
    height: 240px;
    width: 360px;
    background-color: blue;
} */

/* #box{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: aqua;
}

#small{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: yellow;
} */

/* #homepage{
    width: 100%;
    height: 3000px;
    background-color: black;
}

#side{
    position: fixed;
    top: 50%;
    right: 0;
    width: 30px;
    height: 200px;
    background-color: red;
} */

#parent{
    width: 100%;
    background-color: #222;
}

#child{
    width: 100%;
    height: 2000px;
    background-color: #333;
}

#sticky{
    position: sticky;
    top: 10%;
    width: 300px;
    height: 200px;
    background-color: red;
}

#child2{
    width: 100%;
    height: 2000px;
    background-color: #4b4b4b;
}