* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
}

h3{
    background-color: rgb(66, 249, 249);
    display: inline-block;
}
h4{
    background-color: rgb(152, 152, 253);
    display: inline-block;
}
a{
    background-color: rgb(230, 203, 255);
}

.box{
    width: 200px;
    height: 200px;
    background-color: crimson;
    border-top: 2px solid white;
}

/* .box:nth-child(1){
    background-color: aqua;
}

.box:nth-child(3){
    background-color: rgb(68, 89, 160);
} */

.box:nth-last-child(1){
    /* background-color: aqua; */
    border-bottom: 2px solid white;
}

/* .box:nth-child(2n){
    background-color: aqua;
} */

.box:nth-child(2n-1){
    background-color: aqua;
}

/* .parent{
    width: 100%;
    height: 100%;
    background-color: black;
    text-align: center;
} */

/* .parent h1{
    font-size: 150px;
    color: transparent;
    background-image: url(https://imgs.search.brave.com/I7zQqlNXS1VVCths5h7EB-QVgB6epEyZD3njxBCl7P0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YTAuZ2lwaHkuY29t/L21lZGlhL3YxLlky/bGtQVGM1TUdJM05q/RXhhR3RyYVdGcmMy/WXhOM1I1YlRVME9E/aHVjSEowY1cxMGJu/SjBOamh3WjJ4amRI/VjZNR2M0WkNabGNE/MTJNVjluYVdaelgz/TmxZWEpqYUNaamRE/MW4vUkZzZGRFSFgw/VU9RL2dpcGh5Lmdp/Zg.gif);
    background-size: cover;
    background-position: center;
    background-clip: text;
} */

/* .parent h1{
    font-size: 150px;
    color: white;
    -webkit-text-stroke: 2px red;
    
} */

#parent{
    width: 100%;
    padding: 20px;
    background-color: rgb(45, 45, 45);
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;
}

#parent::-webkit-scrollbar{
    /* display: none; */
    background-color: rgb(175, 227, 249);
    height: 8px;
}

#parent::-webkit-scrollbar-thumb{
    background-color: rgb(65, 65, 187);
    border-radius: 10px;
}


.card{
    width: 200px;
    height: 250px;
    background-color: blue;
    border-radius: 10px;
    flex-shrink: 0;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}