* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 110%;
}

body{
    background-color: rgb(223, 223, 223);
    padding: 20px 60px;
}

#hero{
    background-color: white;
    width: 100%;
    border-radius: 20px;
    padding: 30px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

#left{
    display: flex;
    justify-content: center;
    align-items: center;
}

#left img{
    width: 16px;
    margin-right: 5px;
}

#left h4{
    font-size: 20px;
}

#center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#center li{
    list-style: none;
    font-size: 12px;
    font-weight: 600;
}

#right{
    display: flex;
    justify-content: center;
    align-items: center;
}

#right button{
    font-weight: 600;
    border-radius: 20px;
    border: none;
}

#right #btn-1{
    padding: 10px 20px;
    font-size: 12px;
    background-color: white;
}

#right #btn-2{
    padding: 12px 3px 12px 15px;
    background-color: #2C2F3E;
    color: white;
}

#right #btn-2 span{
    color: #2C2F3E;
    background-color: #BAC3FF;
    border-radius: 50%;
    padding: 8px;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90vh;
    grid-gap: 50px;
}

#part-1 h4{
    font-size: 75px;
    font-weight: 500;
}

#s-1{
    margin-right: 15px;
}

#s-1 img{
    height: 45px;
    width: 110px;
    border-radius: 20px;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

#s-2{
    position: absolute;
}

#s-2 button{
    position: relative;
    top: -20px;
    left: 40px;
    font-size: 12px;
    border: 1.5px solid black;
    border-radius: 25px;
    padding: 18px 45px;
    font-weight: 600;
    background-color: white;
}

#btn button{
    font-size: 11px;
    font-weight: 600;
    border-radius: 20px;
    padding: 12px 15px;
    background-color: #2C2F3E;
    color: white;
    margin-right: 20px;
}

#btn button span{
    margin-left: 9px;
}

#btn a{
    color: black;
    font-size: 12px;
    font-weight: 600;
}

#part-1-b{
    margin-top: 70px;
    position: relative;
}

#part-1-b p{
    font-size: 11px;
    width: 290px;
    font-weight: 600;
}

#part-1-b img{
    position: absolute;
    left: -8px;
    margin-top: 20px;
    height: 35px;
}
#part-2{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "p-1 p-1"
                         "p-2 p-3";
}

#p-2-1{
    grid-area: p-1;
    border-radius: 20px;
    background-image: url(./dp-1.jpg);
    background-position: center;
    background-size: cover;
}

#p-2-2{
    grid-area: p-2;
    border-radius: 20px;
    background-image: url(./dp-2.jpg);
    background-position: center;
    background-size: cover;

}

#p-2-3{
    grid-area: p-3;
    border-radius: 20px;
    background-image: url(./dp-3.jpg);
    background-position: center;
    background-size: cover;
}