* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

@mixin flex-center(){
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}

main{
    width: 100%;
    height: 100%;
    @include flex-center();

    section{
        height: 100%;
        display: flex;    
        flex: 1 1 0;
        background-size: cover;
        background-position: center;
        transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
        cursor: pointer;
    }

    section:nth-child(1){
        background-image: url(./iron-man.jfif);
    }

    section:nth-child(2){
        background-image: url(./lokey.jpg);
    }

    section:nth-child(3){
        background-image: url(./thore.jpg);
    }

    section:nth-child(4){
        background-image: url(./spider-man.jpg);
    }

    section:nth-child(5){
        background-image: url(./deadpool.jpg);
    }

    section:hover{
        flex-grow: 2;
    }
}