* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    background-color: #000;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: crimson;
}

button:active {
    scale: 0.8;
}