*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#nev{
    width: 100%;
    padding: 30px 50px;
}

#nev>a{
    text-decoration: none;
    color: #111;
    font-size: 20px;
    margin-right: 30px;
}

#main>h1{
    font-size: 250px;
    font-weight: 500;
    padding-left: 30px;
}

#btmleft{
    position: absolute;
    bottom: 17%;
    left: 5%;
    width: 250px;
}

#btmleft h3{
    font-size: 20px;
}

#btmleft p{
    font-size: 15px;
    margin-top: 5px;
}

#btmleft h4{
    margin-top: 30px;
    font-size: 20px;
}

#bottombar{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 65px;
    display: flex;
    justify-content: space-between;
}

#bottombar h1{
    font-size: 25px;
}

#bottombar a{
    color: #111;
}

#main>img{
    position: absolute;
}

#first{
    width: 100px;
    top: 70%;
    left: 60%;
}

#second{
    width: 150px;
    top: 55%;
    left: 70%;
}

#third{
    width: 150px;
    top: 50%;
    left: 47%;
}