@mixin button-style($bg-color:blue, $text-color:white, $fontsize:18px){
    padding: 10px 20px;
    background-color: $bg-color;
    color: $text-color;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-size: $fontsize;
}