@import "button";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

// mixins
@mixin flexCenter(){
    display: flex;
    justify-content: center;
    align-items: center;
}

// nesting
main{
    width: 100%;
    height: 100%;
    background-color: black;
    @include flexCenter();

    section{
        width: 50%;
        height: 50%;
        background-color: rgb(255, 240, 240);
        @include flexCenter();

        h1{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: black;
        }
    }
}

// @mixin button-style($bg-color){
//     padding: 10px 20px;
//     background-color: $bg-color;
//     color: white;
//     border: none;
//     border-radius: 20px;
//     outline: none;
//     cursor: pointer;
//     font-size: 18px;
// }

.red{
    // @include button-style(red)
    @include button-style(red, black, 18px)
}

.blue{
    // @include button-style(blue)
    @include button-style(blue, purple, 20px)
}