* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding-left: 70px;
}

.card{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(28, 28, 28);
    color: white;
    box-shadow: 5px 10px 25px rgba(255, 234, 1, 0.26);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 10px;
}

img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

button{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(94, 206, 237);
    color: white;
}

button:hover{
    background-color: red;
}