* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* .first{
    width: 150px;
    height: 150px;
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    transform: translateX(-50%);
    transform: translateY(-50%);
} */

.box{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

div{
    width: 200px;
    height: 200px;
}

.one{
    background-color: red;
    flex-shrink: 0;
}

.two{
    background-color:aqua;
    flex-shrink: 0;
}
.three{
    background-color: yellow;
    flex-shrink: 0;
}