* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    // font-size: 1vw;
    font-size: clamp( 14px, 1vw, 18px);
}

h1{
    font-size: 10rem;
}