* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    /* default font size 16px */
    // font-size: 200px;
    font-size: 40px;

}

.red h1 {
    font-size: 1rem;
    /* 1rem => 200px , rem depend on root/html */
}

body {
    font-size: 50px;
    main {
        font-size: 100px;
        h2 {
            /*font-size: 1em; */ /*1em => 100px*/
            font-size: 1rem; /*1rem => 40px from html*/
        }
        section {
            font-size: 4em; /* 4em => 400px*/
            h1 {
                font-size: 1em; /* 1em => 400px*/
            }
        }
    }
}