* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body{
    background-color:aquamarine;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.box{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.bottom{
    position: absolute;
    width: 100%;
    height: 40%;
    background: linear-gradient(transparent, black);
    bottom: -40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px;
}

.box:hover .bottom{
    bottom: 0;
    transition: all ease 0.5s;
}

.icon{
    display: flex;
    gap: 20px;
}

.icon h4{
    color: black;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
}

.icon h4:hover{
    color: white;
    background-color: red;
}