* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.bolls{
    display: flex;
    gap: 10px;
    border: 3px solid white;
}

.boll {
    height: 50px;
    width: 50px;
    transition: all 0.3s linear;
    border-radius: 50%;
}

.red {
    background-color: rgb(110, 21, 21);
}

.blue {
    background-color: rgb(23, 23, 110);
}

.green {
    background-color: rgb(26, 97, 26);
}

.bolls:has(.blue){
    background-color: pink;
}