* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.root {
  width: 100%;
  height: 100%;
  background-color: #F3F3F3;
  color: #2B2B2B;
}
.root div {
  width: 100%;
  height: 100%;
}
.root div .nav {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.root div .nav .left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.root div .nav .left-nav img {
  width: 50px;
}
.root div .nav .left-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.root div .nav .left-nav ul li {
  font-weight: 500;
  font-size: 10px;
}
.root div .nav .right-nav button {
  font-weight: 600;
  font-size: 15px;
  border: none;
  text-decoration: underline;
}
.root div .nav .right-nav i {
  font-size: 15px;
}
.root div .hero {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  color: #2B2B2B;
  filter: grayscale(100%);
}
.root div .hero .left-hero {
  width: 33%;
  display: flex;
  padding: 60px;
  flex-direction: column;
  padding-left: 100px;
  gap: 105px;
  position: relative;
}
.root div .hero .left-hero .timeline-hero {
  width: 638px;
  height: 20px;
  position: absolute;
  left: -265px;
  top: 279px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  rotate: 270deg;
}
.root div .hero .left-hero .timeline-hero .timeline-p1 {
  display: block;
  width: 40px;
  height: 20px;
}
.root div .hero .left-hero .timeline-hero .timeline-br {
  display: block;
  background-color: black;
  width: 350px;
  height: 1px;
}
.root div .hero .left-hero .timeline-hero .timeline-p2 {
  display: block;
  width: 125px;
  height: 20px;
}
.root div .hero .left-hero .project-hero {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.root div .hero .left-hero .project-hero .com-project {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.root div .hero .left-hero .project-hero .com-project .com-h4 {
  font-size: 40px;
  font-weight: 500;
}
.root div .hero .left-hero .project-hero .com-project .com-p {
  font-size: 15px;
  font-weight: 500;
}
.root div .hero .left-hero .project-hero .startup-project {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.root div .hero .left-hero .project-hero .startup-project .start-h4 {
  font-size: 40px;
  font-weight: 500;
}
.root div .hero .left-hero .project-hero .startup-project .start-p {
  font-size: 15px;
  font-weight: 500;
}
.root div .hero .left-hero .text-hero {
  height: 300px;
  display: flex;
  flex-direction: column;
}
.root div .hero .left-hero .text-hero .text-h4 {
  font-size: 200px;
  font-weight: 500;
}
.root div .hero .left-hero .text-hero .text-p {
  font-size: 15px;
  font-weight: 600;
}
.root div .hero .left-hero .button-con-hero .button-hero {
  border: none;
  background-color: transparent;
  font-size: 16px;
}
.root div .hero .right-hero {
  width: 67%;
  height: 100%;
  background-image: url(http://127.0.0.1:5500/task/img/right-hero-img-1.png);
  background-position: top;
  background-size: cover;
}/*# sourceMappingURL=style.css.map */