* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 30px;
}

.nav1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.nav1 img{
    width: 50px;
}

.nav1 h6{
    font-size: 17px;
    width: 50px;
    font-weight: 100;
}

.nav2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.nav2 h5{
    display: none;
    font-size: 20px;
}

.nav2 h4{
    font-weight: 100;
}

@media (max-width: 693px) {
    nav{
        padding: 15px;
    }
    .nav2 h4{
        display: none;
    }
    .nav2 h5{
        display: block;
    }
}