* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

.box{
    width: 300px;
    height: 300px;
    background-color: crimson;
}

@media (max-width:700px) {
    .box{
        /* background-color: lightseagreen; */
        width: 200px;
        height: 200px;
        background-color: lightblue;
        /* border-radius: 50%; */
    }
}

@media (max-width:550px) {
    .box{
        /* background-color: lightseagreen; */
        width: 100px;
        height: 100px;
        background-color: rgb(222, 255, 92);
        /* border-radius: 50%; */
    }
}